

{% if location_key == 'protea' %}
        <div>
        <iframe src="https://storage.googleapis.com/maps-solutions-f4xmoy4yho/commutes/azsf/commutes.html"
          width="100%" height="100%"
          style="border:0;"
          loading="lazy">
        </iframe>
        </div>

    {% elif location_key == 'supreme-ekpoma' %}

      <iframe src="https://storage.googleapis.com/maps-solutions-f4xmoy4yho/commutes/nyx4/commutes.html"
          width="100%" height="100%"
          style="border:0;"
          loading="lazy">
        </iframe>
    {% elif location_key == 'supreme-benin' %}
        <iframe src="https://storage.googleapis.com/maps-solutions-f4xmoy4yho/commutes/7ay5/commutes.html"
          width="100%" height="100%"
          style="border:0;"
          loading="lazy">
        </iframe>
    {% elif location_key == 'chosen-ekpoma' %}
        <iframe src="https://storage.googleapis.com/maps-solutions-f4xmoy4yho/commutes/ink2/commutes.html"
          width="100%" height="100%"
          style="border:0;"
          loading="lazy">
        </iframe>
    {% elif location_key == 'vigil' %}
    <iframe src="https://storage.googleapis.com/maps-solutions-f4xmoy4yho/commutes/q3zw/commutes.html"
      width="100%" height="100%"
      style="border:0;"
      loading="lazy">
    </iframe>
    {% elif location_key == 'funeral' %}
    <iframe src="https://storage.googleapis.com/maps-solutions-f4xmoy4yho/commutes/q3zw/commutes.html"
      width="100%" height="100%"
      style="border:0;"
      loading="lazy">
    </iframe>
    {% elif location_key == 'interment' %}
    <iframe src="https://storage.googleapis.com/maps-solutions-f4xmoy4yho/commutes/qbum/commutes.html"
      width="100%" height="100%"
      style="border:0;"
      loading="lazy">
    </iframe>
    {% elif location_key == 'reception' %}
    <iframe src="https://storage.googleapis.com/maps-solutions-f4xmoy4yho/commutes/8dac/commutes.html"
      width="100%" height="100%"
      style="border:0;"
      loading="lazy">
    </iframe>
    {% endif %}
