{% extends 'lonely/base.html' %}
{% load static %}
{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          {% if view == 'tribute' %}
          <h2>Tribute by {{ tribute.author }}</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>{{ tribute.relation }}</li>
          </ol>
          {% else %}
          <h2>Order of Mass</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>{{ mass.get_mass_display }}</li>
          </ol>
          {% endif %}
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container shadow p-4 rounded flex">

        {% if view == 'tribute' %}
          <p><img class="img-fluid float-end" src="{{ tribute.picture.url }}" alt="banner_company" style="image-fit: contain" width="300px"/>
            {{ tribute.message|linebreaks }}
          </p>
        {% elif view == 'mass' %}
        <ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist">
          <li class="nav-item"><a class="nav-link text-secondary" id="hymns-tab" data-bs-toggle="tab" role="tab" aria-controls="hymns" aria-selected="false" href="#hymns">Hymns</a></li>
          <li class="nav-item"><a class="nav-link active text-secondary"  id="readings-tab" data-bs-toggle="tab" role="tab" aria-controls="readings" href="#readings" aria-selected="true">Readings</a></li>
          <li class="nav-item"><a class="nav-link text-secondary" id="prayers-tab" data-bs-toggle="tab" role="tab" aria-controls="prayers" aria-selected="false" href="#prayers">Prayer of the Faithful</a></li>
        </ul>
        <div class="tab-content clearfix" id="myTabContent">
          <div class="tab-pane fade show p-4 active" id="readings" role="tabpanel" aria-labelledby="readings-tab">
          {% for reading in readings %}
        <h4><strong>{{ reading.get_reading_display|title }}</strong></h4>
        <p><strong>{{ reading.passage }}</strong></p>
        <p class=""><em>"{{ reading.theme }}"</em></p>
            <p>{{ reading.body|linebreaksbr }}</p>
        {% if reading.reading == 'GR' %}
        <p><em>All</em>: <strong>Praise to you Lord Jesus Christ</strong></p>
        {% elif reading.reading == 'FR' or reading.reading == 'SR' %}
        <p><em>All</em>: <strong>Thanks be to God</strong></p>
        {% elif reading.reading == 'GA' %}
        <p><em>"Alleluia"</em></p>
        {% endif %}
        <hr>
          {% endfor %}
            </div>
          <div class="tab-pane fade show p-4" id="hymns" role="tabpanel" aria-labelledby="hymns-tab">
          {% for hymn in hymns %}
        <h4><strong>{{ hymn.get_hymn_display|title }}</strong></h4>
        <p><strong>{{ hymn.title }}</strong></p>
        <!--p class="">{{ hymn.number }}</p-->
            <p>{{ hymn.body|linebreaksbr }}</p>
        <hr>
          {% endfor %}
      </div>
          <div class="tab-pane fade show p-4" id="prayers" role="tabpanel" aria-labelledby="prayers-tab">
          {% for prayer in prayers %}
        <h4><strong>{{ prayer.number }}. For {{ prayer.get_point_display }}</strong></h4>
            <p>{{ prayer.body|linebreaksbr }}</p>
            <h5><strong>{{ prayer.name }}</strong></h5>
        <hr>
          {% endfor %}
      </div>
        </div>
        {% else %}
            <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
          <div class="container">

            <div class="section-title">
              <h2>Tributes</h2>
              <p>Click on a name to read the full tribute.</p>
            </div>

            <div class="row">
              {% for tribute in tributes %}
              <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                  <!--div class="icon"><i class="bx bxl-dribbble"></i></div-->
                  <img src="{{ tribute.picture.url }}" class="services-img mt-2 mb-2 justify-content-center" alt="">
                  <h4 class="title"><a href="{% url 'read_tribute' tribute.id %}">{{ tribute.author}}</a></h4>
                  <p class="description">{{ tribute.message|truncatechars_html:100 }}</p>
                  <p class="description">{{ tribute.relation }}</p>
                </div>
              </div>
              {% endfor %}
              <div class="d-flex text-center">
            {% if tributes.has_other_pages %}
              <nav aria-label="...">
                <ul class="pagination justify-content-center flex-wrap">
                    {% if tributes.has_previous %}
                  <li class="page-item"><a class="page-link" href="{% url 'list_tributes' %}?page={{ tributes.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                  <li class="page-item disabled"><span class="page-link">&laquo;</span> </li>
                    {% endif %}
                    {% for i in tributes.paginator.page_range %}
                  {% if tributes.number == i %}
                    <li class="page-item active" aria-current="page"><span class="page-link">{{ i }}</span></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="{% url 'list_tributes' %}?page={{ i }}">{{ i }}</a></li>

                    {% endif %}
                    {% endfor %}
                    {% if tributes.has_next %}
                  <li class="page-item"><a class="page-link" href="{% url 'list_tributes' %}?page={{ tributes.next_page_number }}">&raquo;</a></li>
                  {% else %}
                  <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}

                </ul>
              </nav>
            {% endif %}
              </div>
            </div>

          </div>
        </section><!-- End Services Section -->
        {% endif %}
        </div>
    </section>

  </main><!-- End #main -->

{% endblock %}